.heroBackground {
    /* height: 80vh; */
    /* background-size: cover; */
}

.overall {
    position: relative !important;
}

.houseImage {
    position: absolute !important;
    top: 0;
    left: 25%;
}

.kato {
    font-family: 'Montserrat';
}

.mid-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}